
#Title{
  position: absolute;
  z-index: 11;
  top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

#TitleText{
  font-size: 50px;
  color: #0077b6;
  font-weight: 700;
}

#HomeUIHolder{
  background-color: #caf0f8;
  position: absolute;
  width: 100%;
  height: 602px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

}

.HomeUI{
  height: 200px;
  width: 400px;
  background-color: #90e0ef;
  display: grid;
  row-gap: 30px;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 10px 10px #0077b6;
}

.HomeUIBtn{
  height: 30px;
  width: 200px;
  display: block;
  background-color: #90e0ef;
  color: rgb(238, 248, 255);
  border-style: none;
  transition: .3s;
  font-weight: 500;
  font-size: 18px;
}

.HomeUIBtn:hover{
  background-color: #0077b6;
}

#ShowSelectMonthForAnalyticsModalBtn{
  border-radius: 10px 10px 0px 0px;
}

#AddNewDateBtn{
  border-radius: 0px 0px 10px 10px;
}

#SVGHolder{
  /* background-color: red; */
  /* height: 598px;
  width: 100%; */
  /* position: absolute; */
  pointer-events: none;
}

.MoneySVG{

  filter: invert(94%) sepia(34%) saturate(4362%) hue-rotate(163deg) brightness(96%) contrast(94%);
  /* filter: invert(30%) sepia(96%) saturate(829%) hue-rotate(168deg) brightness(100%) contrast(106%); */
  /* filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(71deg) brightness(106%) contrast(102%); */
  position: absolute;
  right: -0px;
  bottom: 0px;
}
