#offcanvasRight{
  width: 100%;
  background-color: #caf0f8;
  display: flex;
  align-items: center;
}

#MonthModalViewInputsHolder{
  background-color: #90e0ef;
  border-radius: 10px;
  width: 500px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 10px 10px #0077b6;
}

.MonthInput, .AmountPurchased{
  height: 20px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  border-style: none;
  background-color: #caf0f8;
  font-size: 15px;
}

.MonthInput:focus{
  background-color: white;
  outline: none;
}
.MonthInput::placeholder{
  font-size: 15px;
}

#CheckBoxForAmountPurchased{
  display: block;
  background-color: #caf0f8;

}

.AmountPurchased{
  display: none;
}

.SubmitInfoToMonth{
  width: 100%;
  height: 30px;
  outline: none;
  background-color: #90e0ef;
  color: rgb(238, 248, 255);
  border-style: none;
  transition: .3s;
  font-weight: 500;
  font-size: 18px;
  border-radius: 7px;

}

.SubmitInfoToMonth:hover{
  background-color: #0077b6;
}

.button{
  background-color: red;
}






@media only screen and (max-width: 750px)
{

}